@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #ffffff;
}

body {
  font-family: "Anonymous Pro", monospace;
}

header {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0d0629;
}

header h3 {
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 2px;
}

form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  height: 2.7rem;
  max-width: 300px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  outline: none;
  border: 1px solid #f1f1f1;
  font-size: 1rem;
}

form input:focus {
  border-color: #999;
}

form button {
  border: none;
  background: none;
  background: #f1f1f1;
  height: 2.7rem;
  padding: 0.5rem 1rem;
  font-family: inherit;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
}

section {
  min-height: 70vh;
  display: flex;
  justify-content: center;
}

section .todo__lists {
  min-width: 35%;
  list-style: none;
}

section .todo__lists .todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5rem;
  margin: 0.4rem 0rem;
  background: #f1f1f1;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

section .todo__lists .todo li {
  flex: 1;
}

section .todo__lists .todo .active__button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  height: 2.5rem;
  background: #7dca8b;
  color: #fff;
  display: inline-block;
  cursor: pointer;
}

section .todo__lists .todo .active__button:hover {
  background: #52a461;
}

section .todo__lists .todo .trash__button {
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1rem;
  height: 2.5rem;
  font-weight: bold;
  color: #fff;
  background: #e15d51;
  cursor: pointer;
}

section .todo__lists .todo .trash__button:hover {
  background: #c83c2f;
}

section .todo__lists .todo .todo__date {
  position: absolute;
  bottom: 0.01rem;
  left: 0.5rem;
  font-size: 0.55rem;
  font-weight: lighter;
  color: #bfbfbf;
}

section .todo__lists .todo.todo-active {
  text-decoration: line-through;
  opacity: 0.4;
}
/*# sourceMappingURL=main.css.map */