<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Todo App Flask</title>
  </head>
  <body>
    <header>
      <h3>Todo List with Flask</h3>
    </header>
    <form action="/todo-add" method="post">
      <input
        id="todo__input"
        autofocus
        type="text"
        placeholder="Enter todo..."
        name="title"
      />
      <button disabled id="todo__button" type="submit">+</button>
    </form>
    <section>
      <ul class="todo__lists">
        {% for todo in todo_list %}
        <div class="todo">
          <li class="{% if todo.complete %}todo__active{% else %}{% endif %}">
            {{todo.title}}
          </li>
          <a
            href="/todo-complete/{{todo.id}}"
            class="active__button"
            type="button"
            >&#10003;</a
          >
          <a href="/todo-delete/{{todo.id}}" class="trash__button" type="button"
            >&times;</a
          >
          <span class="todo__date">{{todo.created_at}}</span>
        </div>
        {% endfor %}
      </ul>
    </section>

    <script src="../static/dist/index.js" defer></script>
  </body>
</html>
