<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>Todo App Flask</title>
  </head>
  <body>
    <header>
      <h3>Todo List with Flask</h3>
    </header>
    <form action="/todo-add" method="post">
      <input autofocus type="text" placeholder="Enter todo..." name="title" />
      <button type="submit">+</button>
    </form>
    <section>
      <ul class="todo__lists">
        {% for todo in todo_list %}
        <div class="todo">
          <li>{{todo.title}}</li>
          <button class="active__button" type="button">&#10003;</button>
          <button class="trash__button" type="button">&times;</button>
          <span class="todo__date">{{todo.created_at}}</span>
        </div>
        {% endfor %}
      </ul>
    </section>
  </body>
</html>
