@import "./partials/reset";
@import "./partials/fonts";
@import "./partials/mixins";

html,
body {
  background: #ffffff;
}

body {
  font-family: "Anonymous Pro", monospace;
}

header {
  min-height: 12vh;
  @include displayFlex();
  background: #0d0629;
  h3 {
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 2px;
  }
}

form {
  min-height: 15vh;
  @include displayFlex();
  .ui {
    #todo__input {
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    &.secondary {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      height: 2.7rem;
    }
  }
}

section {
  min-height: 73vh;
  @include displayFlex(center, null);
  .todo__lists {
    min-width: 35%;
    list-style: none;
    .todo {
      @include displayFlex(space-between, center);
      padding-left: 0.5rem;
      margin: 0.4rem 0rem;
      background: #f1f1f1;
      position: relative;
      li {
        flex: 1;
        &.todo__active {
          text-decoration: line-through;
          opacity: 0.4;
        }
      }
      .active__button {
        padding: 0.5rem 1rem;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        height: 2.5rem;
        line-height: 1.6rem;
        background: #7dca8b;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          background: #52a461;
        }
      }
      .trash__button {
        padding: 0.5rem 1rem;
        border: none;
        font-size: 1.2rem;
        height: 2.5rem;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
        background: #e15d51;
        cursor: pointer;
        &:hover {
          background: #c83c2f;
        }
      }
      .todo__date {
        position: absolute;
        bottom: 0.01rem;
        left: 0.5rem;
        bottom: 0;
        line-height: 1;
        font-size: 0.55rem;
        font-weight: lighter;
        color: #bfbfbf;
        transition: opacity 0.2s ease;
        opacity: 0;
      }
      &:hover {
        .todo__date {
          opacity: 1;
        }
      }
    }
  }
}
